/*@import "compass/css3";
*/
* {
  box-sizing: border-box;
}

input {
  padding: 5px;
}

input#textbox {
  margin: 0;
  height: 30px;
  width: 300px;
  align-self: center;
  border-color: solid black;
  background-color: gray;
  border: 1px solid black;
}

d .listcheckbox {
  cursor: pointer;
}

.row {
  width: 95%;
  padding: 20px 0;
  margin: auto;
  display: flex;

  align-self: center;
  align-content: center;

  -webkit-flex-flow: row wrap;
  justify-content: center;

}

.header {
  list-style: none;
  margin-top: 5px;
  height: 200px;
  width: 100%;
  background: lightgray;
  display: flex;

  -webkit-flex-flow: column wrap;
  justify-content: center;
}

.listdiv {
  list-style: none;
  margin-top: 5px;
  padding: 10px;
  height: 100%;
  width: 100%;
  background: darkgray;
  font-family: helvetica;
  /*	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: column wrap;
	justify-content: center;*/
}

.listdiv ul {
  margin: 0;
  padding: 0;
  background-color: solid gray;
  list-style: none;
  /*justify-content: center;
	display: flex;*/
}

ul li {
  /*	cursor: crosshair;*/
  position: center;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 20px;
}

ul li:hover {
  background: #ddd;
}

/*Strikes through data when its checkbox is checked*/
input[type=checkbox]:checked+label {
  text-decoration: line-through;
}

.submitbutton {
  margin: 0;
  width: 300px;
  align-self: center;
}

.allButton:hover {
  filter: brightness(50%);
}

.activeButton:hover {
  filter: brightness(50%);
}

.doneButton:hover {
  filter: brightness(50%);
}

.close {
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  cursor: pointer;
  color: darkred;
}

.navigation {
  list-style: none;
  margin: 0;
  background: black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  border: none;
}

h1 {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  font-family: helvetica;
}

/** Browser devices **/
@media (min-width: 992px) {

  .columnize {
    width: calc(25% - 10px);
    float: center;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
    margin-left: 5px;
  }
}

/** Tablet devices **/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md {
    width: (50% - 20px);
    float: left;
    padding: 20px;
    border: 1px solid red;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .customthird {
    width: (100% - 20px);
    padding: 20px;
    border: 1px solid red;
  }
}

/** Mobile devices **/
@media (max-width: 767px) {
  .col-small {
    float: left;
    padding: 20px;
    border: 1px solid purple;
    text-align: center;
    margin-bottom: 5px;
  }
}
